header {
  background-color: #ffffff;
  border-bottom: 1px solid black;
  box-shadow: 5px 2px 15px; }

/* reset */
* {
  margin: 0;
  /* espacio interior */
  padding: 0;
  /* espacio Exterior */
  box-sizing: border-box;
  /* resetea la caja del navegador */ }

/* -----------------------NAV----------------------- */
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header nav img {
    width: 90px;
    height: 40px; }

.navegation .navegation-bar {
  justify-content: center; }

/* -----------------------HOME----------------------- */
.index-page {
  background-image: url(../img/fotoinicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: end; }
  .index-page .index-container {
    height: 100%;
    padding: 10px; }
    .index-page .index-container .index-container-info-title {
      color: white; }
    .index-page .index-container .index-container-info-text {
      color: white; }
    .index-page .index-container .index-container-info-button a button {
      padding: 8px 25px;
      font-size: 16px;
      border: none;
      transition-duration: 200ms; }
    .index-page .index-container .index-container-info-button a button:hover {
      background-color: #141414;
      color: white; }

/* -----------------------HOME MOBILE & TABLET----------------------- */
@media screen and (max-width: 960px) {
  .index-page {
    background-image: url(../img/fondoAbout.png);
    background-position: center; } }

/* -----------------------PRODUCTS----------------------- */
.products-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; }

.products-container {
  padding: 3rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #ffffff;
  row-gap: 1rem; }
  .products-container .products-title .title {
    text-align: center;
    text-decoration: underline; }
  .products-container .img-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 500px; }
    .products-container .img-container p {
      width: 100%;
      padding: 1rem;
      font-size: 25px;
      text-align: center;
      background-color: #eeeeee;
      margin-bottom: 0px; }

/* -----------------------PRODUCTS TABLET----------------------- */
@media screen and (min-width: 600px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; }
    .products-container .products-title {
      grid-column: 1 / -1; } }

/* -----------------------PRODUCTS DESKTOP----------------------- */
@media screen and (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr); }
    .products-container .img-container {
      height: fit-content; } }

@media screen and (min-width: 1279px) {
  .products-container .img-container {
    height: auto; } }

/* -----------------------ABOUT US----------------------- */
.image-about {
  background-image: url(../img/fondoAbout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 60vh; }

.text-about {
  text-align: center;
  color: #666;
  margin: 40px 50px 40px; }

.title-about {
  text-align: center;
  margin-top: 50px; }

/* -----------------------ABOUTUS MOBILE & TABLET----------------------- */
@media screen and (max-width: 990px) {
  .image-about {
    background-position: center; } }

/* -----------------------CONTACT----------------------- */
.contact-page {
  background-image: url(../img/fondoAbout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contact-page .form-container {
    border: 1px solid black;
    width: 50%;
    height: 800px; }
    .contact-page .form-container .contact-form {
      padding: 1rem;
      width: 100%;
      height: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 30px; }
      .contact-page .form-container .contact-form .button-input {
        margin: 70px 40%; }
      .contact-page .form-container .contact-form .contact-title {
        text-align: center; }
      .contact-page .form-container .contact-form .input-container {
        margin-top: 1.5rem; }
        .contact-page .form-container .contact-form .input-container .input-text {
          width: 100%; }

/* -----------------------CONTACT MOBILE----------------------- */
@media screen and (max-width: 480px) {
  .contact-page .form-container {
    width: 80%; }
    .contact-page .form-container .contact-form .button-input {
      margin: 70px; } }

/* -----------------------CONTACT TABLET----------------------- */
@media screen and (max-width: 960px) {
  .contact-page .form-container .contact-form .button-input {
    margin: 70px; } }

header {
  background-color: #ffffff;
  border-bottom: 1px solid black;
  box-shadow: 5px 2px 15px; }

/* -----------------------LOCATION----------------------- */
.location-page {
  background-image: url(../img/fondoAbout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .location-page .location-container {
    background-color: #d5d2d2;
    border: 1px solid black;
    border-radius: 30px;
    width: 50%;
    height: 550px;
    display: flex; }
    .location-page .location-container .location-text {
      background-color: #ffffff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 50%;
      display: flex;
      flex-direction: column; }
      .location-page .location-container .location-text .location-title {
        font-size: 25px;
        margin-top: 50%;
        display: flex;
        text-align: center;
        justify-content: center; }
    .location-page .location-container .location-map {
      background-color: #ffffff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      width: 50%;
      display: flex;
      flex-direction: column; }
      .location-page .location-container .location-map .location-map-ubication {
        width: 100%;
        margin-top: 100px;
        padding: 2rem; }

/* -----------------------LOCATION MOBILE & TABLET----------------------- */
@media screen and (max-width: 1024px) {
  .location-page .location-container {
    flex-direction: column;
    width: 70%;
    height: fit-content;
    border-radius: 8px; }
    .location-page .location-container .location-text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .location-page .location-container .location-text .location-title {
        margin-top: 3rem;
        padding: 2rem; }
    .location-page .location-container .location-map {
      width: 100%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
      .location-page .location-container .location-map .location-map-ubication {
        width: 100%;
        margin: 0;
        padding: 1rem; } }

/* -----------------------FOOTER----------------------- */
footer {
  background-color: #f1f1f1;
  border-top: 1px solid black;
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
  color: #000000; }

.container {
  width: 100%; }

.icons {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .icons a {
    display: inline-block;
    margin-right: 10px;
    color: #666;
    font-size: 18px; }
  .icons a:hover {
    color: #000000; }
  .icons i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #c1c1c1; }

.copy {
  margin-top: 20px; }
