  /* -----------------------HOME----------------------- */
.index-page {
    background-image: url(../../proyecto-pagweb/img/fotoinicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    .index-conteiner {
        padding: 30%;
      }
  }