 @import "../utilidades/mixin";
 /* -----------------------PRODUCTS----------------------- */

 .products-container {
     div {
         img {
             @include widhei(100%, 100%);
             object-fit: cover;
             cursor: pointer;
         }
     }
 }

 .products-container {
     height: 100%;
     padding: 3rem;
     overflow: auto;
     display: grid;
     grid-template-rows: repeat(9, 12%);
     background-color: $color-primario-nav;
     row-gap: 1rem;

     .img-container {
         display: flex;
         flex-direction: column;
         border:  1px solid black;   
         height: 500px; 
             p {
                 width: 100%;
                 padding: 1rem;                 
                 font-size: 25px;
                 text-align: center;
                 background-color:  #eeeeee;
                 margin-bottom: 0px;
             }
     }

 }

 /* -----------------------PRODUCTS TABLET----------------------- */
 @media screen and (min-width:600px) {
     .products-container {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(5, 1fr);
         column-gap: 1rem;
     }
 }

 /* -----------------------PRODUCTS DESKTOP----------------------- */
 @media screen and (min-width:1024px) {
     .products-container {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(3, 1fr);
         .img-container{
            height: fit-content;
         }
     }
 }

 @media screen and (min-width:1279px){
    .products-container{
        .img-container{
            height: auto;
        }
    }
 }