 @import "../utilidades/mixin";
 /* -----------------------PRODUCTS----------------------- */

 .products-container {
     div {
         img {
             @include widhei(100%, 100%);
             object-fit: cover;
             cursor: pointer;
         }
     }
 }

 .products-container {
     padding: 3rem;
     overflow: auto;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     background-color: $color-primario-nav;
     row-gap: 1rem;

     .products-title {
         .title {
             text-align: center;
             text-decoration: underline;
         }
     }

     .img-container {

         display: flex;
         flex-direction: column;
         border: 1px solid black;
         height: 500px;

         p {
             width: 100%;
             padding: 1rem;
             font-size: 25px;
             text-align: center;
             background-color: #eeeeee;
             margin-bottom: 0px;
         }
     }

 }

 /* -----------------------PRODUCTS TABLET----------------------- */
 @media screen and (min-width:600px) {
     .products-container {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 1rem;

         .products-title {
             grid-column: 1 / -1;
         }
     }
 }

 /* -----------------------PRODUCTS DESKTOP----------------------- */
 @media screen and (min-width:1024px) {
     .products-container {
         grid-template-columns: repeat(3, 1fr);

         .img-container {
             height: fit-content;
         }
     }
 }

 @media screen and (min-width:1279px) {
     .products-container {
         .img-container {
             height: auto;
         }
     }
 }